<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.provider.user.mapper.UserMapper">
    <!-- insert user -->
    <insert id="userInsert" parameterType="com.lz.rhapi.user.entity.UserEntity">
        insert into t_user(NAME,EMAIL,PASSWORD) values (#{name},#{email},#{password})
    </insert>
    <!-- delete user by userId  -->
    <delete id="userDel">
        delete from t_user where u_id = {uId}

    </delete>
    <!-- query user for login -->
    <select id="userQuery" resultType="com.lz.rhapi.user.entity.UserEntity">
        select * from t_user where uid = {u_id}
    </select>
    <!-- query all users -->
    <select id="usersQuery" resultType="com.lz.rhapi.user.entity.UserEntity"></select>
    <select id="checkDuplicate" resultType="java.lang.Integer">
        select count(1) from t_user where username = {email}
    </select>

    <!-- user update  -->
    <update id="userUpdate">

    </update>
</mapper>
